node_modules

# Build output
dist

# Keep environment variables out of version control
.env
*.env
.env.development
.env.production

# Prisma
/src/generated/prisma
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
